@import url("https://fonts.googleapis.com/css?family=Sawarabi+Gothic");

body {
    font-family: "Sawarabi Gothic", sans-serif;
    background: #21252b;
    color: white;
}

a {
    color: white;
}

button {
    background: #21252b;
    color: white;
}