@import url("https://fonts.googleapis.com/css2?family=Inconsolata");

body {
    font-family: "Inconsolata", monospace;
    background: #111111;
    color: #e59006;
}

a {
    color: #00aa00;
}

h1, h2 {
    font-size: unset;
    font-weight: normal;
}

h1:before, h2:before, h1:after, h2:after {
    content: "****";
}

button {
    background: #111111;
    color: #00aa00;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dashed #e59006;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

li:before {
    content: "--->"
}
